@model Xxplore.ViewModels.WishList

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserProfile.Email" class="control-label"></label>
                <input asp-for="UserProfile.Email" class="form-control" />
                <span asp-validation-for="UserProfile.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.FirstName" class="control-label"></label>
                <input asp-for="UserProfile.FirstName" class="form-control" />
                <span asp-validation-for="UserProfile.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.LastName" class="control-label"></label>
                <input asp-for="UserProfile.LastName" class="form-control" />
                <span asp-validation-for="UserProfile.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.HomeCountry" class="control-label"></label>
                <input asp-for="UserProfile.HomeCountry" class="form-control" />
                <span asp-validation-for="UserProfile.HomeCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.NativeLanguage" class="control-label"></label>
                <input asp-for="UserProfile.NativeLanguage" class="form-control" />
                <span asp-validation-for="UserProfile.NativeLanguage" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label">Wish List Country One</label><br />
                @Html.DropDownListFor(m => m.UserProfile.WishList1, Model.WishLists, "First Country to Visit")

                <label class="control-label">Wish List Country Two</label><br />
                @Html.DropDownListFor(m => m.UserProfile.WishList2, Model.WishLists, "Second Country to Visit")

                <label class="control-label">Wish List Country Three</label><br />
                @Html.DropDownListFor(m => m.UserProfile.WishList3, Model.WishLists, "Third Country to Visit")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
