@{
    Layout = "_SplashLayout";
}
<!DOCTYPE html>
@*<!DOCTYPE html>
    <html>
    <head>
        <title>Lites And Bites</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="C:\Users\erica\Documents\devCodeCamp\week_10\Projects\Capstone\LightsAndBites\LightsAndBites\wwwroot\css\SplashPageStyleSheet.css">
        <script type="text/javascript">
            $(document).ready(function () {
                $('.carousel').carousel({ interval: 1000 });
            });
        </script>
    </head>*@
<body>

    @*<div id="myCarousel" class="carousel container slide">
            <div class="carousel-inner">
                <div class="active item one"></div>
                <div class="item two"></div>
                <div class="item three"></div>
                <div class="item four"></div>
            </div>
        </div>*@
  

        <div id="demo" class="horizontalCentered">
            <img src="\images\logos\logo3.png" class="resize">

        </div>
        <div>
            <div class="centered">
                <a asp-area="Identity" asp-page="/Account/Register" class="myButton">Sign Up</a>
                <a asp-area="Identity" asp-page="/Account/Login" class="myButton">Login</a>
            </div>

        </div>


</body>


@*<script src="app.js" type="text/javascript"></script>
    </html>*@