@model Xxplore.Models.CountryVisited

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CountryVisited</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <input asp-for="CountryId" class="form-control" />
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighlightOfTrip" class="control-label"></label>
                <input asp-for="HighlightOfTrip" class="form-control" />
                <span asp-validation-for="HighlightOfTrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingOfTrip" class="control-label"></label>
                <input asp-for="RatingOfTrip" class="form-control" />
                <span asp-validation-for="RatingOfTrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartOfTrip" class="control-label"></label>
                <input asp-for="StartOfTrip" class="form-control" />
                <span asp-validation-for="StartOfTrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOfTrip" class="control-label"></label>
                <input asp-for="EndOfTrip" class="form-control" />
                <span asp-validation-for="EndOfTrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="hasVisited" /> @Html.DisplayNameFor(model => model.hasVisited)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="hasntVisited" /> @Html.DisplayNameFor(model => model.hasntVisited)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
