@model IEnumerable<Xxplore.Models.CountryVisited>


<h4>Top Countries Visited</h4>
<hr />
<dl class="dl-horizontal">
<table class="table">
    <thead>
        <tr>
            <th>
                Country
            </th>
            <th>
                Highlight of the Trip
            </th>
            <th>
                Comments
            </th>
            <th>
                Trip Rating
            </th>
        </tr>
    </thead>
    @foreach(CountryVisited item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HighlightOfTrip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.Raw(item.StarsOfTrip)

        </td>
     </tr>   
    }
</table>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
